<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/imagenes/nero.ico">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>
    <style>
        h1{
            color: darkblue;
            background-color: silver;
        }

        #adios{
            color: gold;
            background-color: aquamarine;
        }

       /* p,h2,div{
            color:green;
            background-color: orange;
            font-size: 24px;
            font-weight: 700;
        }*/

        .separador{
            margin-top: 200px;
            margin-bottom: 200px;
        }

        .morada{
            color:purple;
        }

        .azul{
            color: blue;
        }

        .verde{
            color: green;
        }

        p.verde{
            color: orange;
            background-color: skyblue;
        }

        .modelo-cajas{
            border-color:grey;
            border-style: solid;
            border-width: 10px;
            border-right-width: 0px;
            padding: 10px;

        }
        
        p.verde.azul{
            color: #000;
        }

        .nvb{
            border-color: grey;
            border-left: solid lightgray 1px;
            border-right: solid lightgray 1px;
        }

    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Columna12</h1>
            </div>
            <div class="col-sm-6"><h1>Columna6</h1></div>
            <div class="col-sm-6"><h1>Columna6</h1></div>
            <div class="col-sm-6"><h1>Columna6</h1></div>
            <div class="col-sm-6"><h1>Columna6</h1></div>
        </div>
        <div class="separador"></div>
        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row nvb">
                <div class="col-sm-2 nvb">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/imagenes/davinchi.png" alt="" style="max-height: 100%;max-width: 100%;">
                        </div>
                        <div class="col-sm-8">
                            <p>PelisPlus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 nvb">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="peliculas">Peliculas</label>
                            <select class="custom-select custom-select-sm" name="peliculas" id="peliculas">
                                <option value="Estrenos">Estrenos</option>
                                <option value="Comedia">Comedia</option>
                                <option value="Acción">Acción</option>
                                <option value="Romance">Romance</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="series">Series</label>
                            <select class="custom-select custom-select-sm" name="series" id="series">
                                <option value="Estrenos">Capitulos Estreno</option>
                                <option value="Comedia">Comedia</option>
                                <option value="Acción">Acción</option>
                                <option value="Romance">Romance</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <a href="#">Próximos Estrenos</a>
                        </div>
                        <div class="col-sm-3">
                            <a href="%">Descarga la App</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 nvb">
                    <label for="buscador">Buscar:</label>
                    <input type="text" id="buscador" name="buscador">
                </div>
               <!-- <div class="col-sm-6">
                    <h1>Sm6</h1>
                </div>
                <div class="col-sm-6">
                    <h1>Sm6</h1>
                </div>
                <div class="col-md-6">
                    <h1>Md6</h1>
                </div>
                <div class="col-md-6">
                    <h1>Md6</h1>
                </div>
                <div class="col-lg-6">
                    <h1>Lg6</h1>
                </div>
                <div class="col-lg-6">
                    <h1>Lg6</h1>
                </div> -->
            </div>
        </div>
        <div class="contenedor">
            <div class="row">
                <div class="col-sm-3">
                    <h1>Genero de Películas</h1>
                    <div class="table">
                        <table>
                            <tr>

                            </tr>
                            <tr>
                                <th>i</th>
                                <th>Accion</th>
                                <th>456</th>
                            </tr>
                            <tr>
                                <th>i</th>
                                <th>Comedia</th>
                                <th>983</th>
                            </tr>

                        </table>

                    </div>
                </div>
                <div class="col-sm-9">
                    <h1>Peliculas Online</h1>
                    <p>PeliPlus.co es un sitio para ver peliculas en internat pues las cosas son así y ya no se puede hacer nada mas en esta vida,
                        lastima que no tenemos los estrenos en cine pero ya no se puede hacer nada. Depositamnos en Paypal si te gusta el pan Uhh!</p>
                </div>
            </div>
        </div>

    </div>
    <div class="separador"></div>

    <h1 class="modelo-cajas">Banana Box</h1>

    <h1>Hola</h1>
    <h1 id="adios" class="verde" style="background-color: black;">Adios</h1>
    <h1 class="verde">Bienvenido</h1>

    <p>Ecuador</p>
    <div>Colombia</div>
    <h2>Venezuela</h2>

    <p class="verde azul morada">
        Melt ven a casa
    </p>

    <p class="verde">
        Por favor :C
    </p>


</body>
</html>
