<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/imagenes/nero.ico">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>
    <style>
        h1{
            color: darkblue;
            background-color: silver;
        }

        #adios{
            color: gold;
            background-color: aquamarine;
        }

        p,h2,div{
            color:green;
            background-color: orange;
            font-size: 24px;
            font-weight: 700;
        }

        .morada{
            color:purple;
        }

        .azul{
            color: blue;
        }

        .verde{
            color: green;
        }

        p.verde{
            color: orange;
            background-color: skyblue;
        }
        
        p.verde.azul{
            color: #000;
        }

    </style>
</head>
<body>


    <h1>Hola</h1>
    <h1 id="adios" class="verde" style="background-color: black;">Adios</h1>
    <h1 class="verde">Bienvenido</h1>

    <p>Ecuador</p>
    <div>Colombia</div>
    <h2>Venezuela</h2>

    <p class="verde azul morada">
        Melt ven a casa
    </p>

    <p class="verde">
        Por favor :C
    </p>

</body>
</html>
